Build
Build.bat
cover_db/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Convert-Pluggable-*
Convert-Pluggable-*.tar.gz
blib/
.build/
_build/
!Build/
Makefile
Makefile.old
MANIFEST.bak
META.yml
META.json
MYMETA.*
pm_to_blib
*.o
*.bs
.DS_Store
*.swp
*.bak
